.detail {
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background-color: white;
  margin: 3rem auto;
  width: 77%;
}

.imgkont {
  width: 100%;
  object-fit: contain;
  text-align: center;
}

.imgkont img {
  height: 350px;
  width: 100%;
  object-fit: contain;
}

.stil {
  display: flex;
}

.stil h4 {
  margin: 0;
}


.details {
  color: rgb(0, 8, 39);
  border-color: rgb(47, 137, 255);
}
.details:hover {
  background-color: rgb(6, 51, 96);
  color: white;
}