.lista {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  list-style: none;
  margin: 5px auto;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  background-color: white;
  width: 100%;
  height: auto;
  text-align: center;
}

.info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}



.opis h2,
p {
  margin: 0;
  size: 2rem;
}

.slika {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.dugmad {
  font-size: medium;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.dugmad button {
  height: auto;
  margin: 0;
}

.edit {
  color: rgb(24, 39, 0);
  border-color:  rgb(60, 96, 6);
}
.edit:hover {
  background-color: rgb(60, 96, 6);
  color: white;
}

.details {
  color: rgb(0, 8, 39);
  border-color: rgb(47, 137, 255);
}
.details:hover {
  background-color: rgb(6, 51, 96);
  color: white;
}

.delete {
  color: rgb(152, 30, 30);
  border-color: rgb(209, 0, 0);
}

.delete:hover {
  background-color: rgb(182, 20, 20);
  color: white;
}