.lista {
  list-style: none;
  margin: 5px auto;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  background-color: white;
  width: 80%;
  height: auto;
}

.info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.opis {
  height: 20%;
}

.opis h2,
p {
  margin: 0;
  size: 2rem;
}

.slika {
  height: 80%;
  object-fit: contain;
}

.dugmad {
  font-size: medium;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.dugmad button {
  height: auto;
  margin: 0;
}
